.cerclefruit{
    height: 55px;
    width: 55px;
   border: solid #FF920D;
    border-radius: 80px;
}
.cerclelegume{
    height: 55px;
    width: 55px;
   border: solid #FF920D;
    border-radius: 80px;
}
.cercleall{
    height: 70px;
    width: 70px;
   border: solid #FF920D;
    border-radius: 80px;
}