


/* card pour les produis */

.cards{
    height:250px;
    width: 160px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
margin: 15px; 
}

.cards:hover{
border: solid 1px #FF920D;
}




/* card pour l'equipe */

.cards_equipe{
    height:250px;
    width: 160px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
margin: 15px;
   
    
}







  
/* mes category fruitsd et légumes sur le pc*/

 .img-display-legumes{
     background-image: url('https://img-3.journaldesfemmes.fr/HwUgYMFAXpGcR9A7Xrw4oF67Mf4=/1500x/smart/409e102e633d42759746f73e286431a3/ccmcms-jdf/11057068.jpg');
     height: 200px;
     width: 400px;
     border-radius: 5px;
 }
 .img-display-fruits{
    background-image: url('https://fac.img.pmdstatic.net/fit/https.3A.2F.2Fi.2Epmdstatic.2Enet.2Ffac.2F2021.2F02.2F01.2F5dd61eb2-1ed2-46c2-b1ec-d0b2b279c9fe.2Ejpeg/1200x900/quality/80/crop-from/center/regime-cetogene-ou-low-carb-15-fruits-pauvres-en-glucides-a-privilegier.jpeg');
    height: 200px;
    width: 400px;
    border-radius: 5px;
 }

 
  

    /*css de footer*/


    .footer-basic {
        padding:40px 0;
        background-color:#ffffff;
      
      }
      
      .footer-basic ul {
        padding:0;
        list-style:none;
        text-align:center;
        font-size:18px;
        line-height:1.6;
        margin-bottom:0;
      }
      
      .footer-basic li {
        padding:0 10px;
      }
      
      .footer-basic ul a {
        color:inherit;
        text-decoration:none;
        opacity:0.8;
      }
      
      .footer-basic ul a:hover {
        opacity:1;
      }
      
      .footer-basic .social {
        text-align:center;
        padding-bottom:25px;
      }
      
      .footer-basic .social > a {
        font-size:24px;
        width:40px;
        height:40px;
        line-height:40px;
        display:inline-block;
        text-align:center;
        border-radius:50%;
        
        margin:0 8px;
        color:inherit;
        opacity:0.75;
      }
      
      .footer-basic .social > a:hover {
        opacity:0.9;
      }
      
      .footer-basic .copyright {
        margin-top:15px;
        text-align:center;
        font-size:13px;
        color:#aaa;
        margin-bottom:0;
      }


      /*image equipe*/

      .image_equipe{
          background-image: url('http://www.terranuova.it/var/terranuova/storage/images/il-mensile/l-agricoltore-bio-un-mestiere-che-non-s-improvvisa/1338068-1-ita-IT/L-agricoltore-bio-un-mestiere-che-non-s-improvvisa.jpg');
          height: 50px;
          width: 80px;
      }
  


   /*color utiliser sur la */

    .orange{
      color:#FF920D  
    }
    /*color de carousel*/

    .background_orange{
        background-color:#FFE0B9  ;
      
    }

    /*mes media pour le reponsive */


@media screen and (max-width: 500px) {
    .category {
    
     height: 0px;
     width: 0px;
      }

     .phone_legumes{
        height: 38px;
        width: 120px;
        border: solid #FF920D;

        border-radius: 20px;
        background-size: contain;

    }
    .phone_fruits::before{
        color: #FF920D;
        content: "Fruits ";
        
    }
    .phone_legumes::before{
        color: #FF920D;
        content: "Légumes";
        
    }
    .collona{
        columns: 1;
    }
    .category{
        display: none;
    }


    .phone_fruits{
    height: 38px;
    width: 120px;
    text-decoration: 'hamza';
    
    border-radius: 20px;
border: solid #FF920D;
    background-size: contain;
    }
    }

@media screen and (max-width: 768px) {
  .cards {
    height: 250px;
    width: 180px;
    margin-top: 10mm;
    }
    
}