.produit{
    height: 100px;
    width: 260px; 
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
border: solid orange 1px;
}

.panier{

    height:900px;
    border-radius: 5px;
width: 600px;
}


@media screen and (min-width:648px) {
    .responsive
    {
display: flex;
    }
      
  }